.enigma_service_area a ,.enigma_footer_widget_area ul li a{color:#674665;}
#wrapper{
	background: #ffffff;
} 
/*  header contact info section ***/
.header_section{
	background-color:#674665;
	color:#fff;
}
/** navbar menus ***/
.navigation_menu{
	background-color: #fff;
	border-top:2px solid #674665;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: #674665;
}


.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background-color: #674665;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	background-color: #674665;
}

.dropdown-menu {
	background-color: rgb(103, 70, 101);
}
/** headings titles css ***/
.enigma_heading_title h3 {
	border-bottom: 4px solid #674665;
	color: #3b3b3b;
}
.enigma_heading_title2 h3 {
	border-bottom: 2px solid #674665;
	color: #3b3b3b;
}
/** slider css ***/
.carousel-list li {
	background:rgba(103, 70, 101, 0.64);
}

/** service  section css ***/
.enigma_service_iocn{
	border: 4px solid #674665;
	background-size: 100% 200%;
	background-image: linear-gradient(to bottom, #674665 50%, #fff 50%);
}
.enigma_service_area:hover .enigma_service_iocn i {
	color:#674665;
}
.enigma_service_iocn_2 i{
	background: #fff;
	border: 4px solid #674665;
}
.enigma_service_iocn_2 i{
	color: #674665;
	background-size: 100% 200%;
	background-image: linear-gradient(to bottom, #fff 50%, #674665 50%);
 }

/****************portfolio css ********************************************************
********************************************************************************/

.enigma_home_portfolio_showcase .enigma_home_portfolio_showcase_icons a {
	background-color: #674665;
	border:2px solid #674665;
	color:#fff;
}
.enigma_home_portfolio_showcase .enigma_home_portfolio_showcase_icons a:hover{
	background-color: #ffffff;
	border:2px solid #674665;
	color:#674665;
}
.enigma_home_portfolio_caption {
	border-left:1px solid #ccc;
	border-bottom:4px solid #674665;
	border-right:1px solid #ccc;
}

.enigma_home_portfolio_caption:hover{
    background: #674665;
}
.enigma_home_portfolio_caption:hover  h3 a ,.enigma_home_portfolio_caption:hover  small{
   color: #ffffff;
}
.img-wrapper:hover .enigma_home_portfolio_caption{
 background: #674665;
 border-left:1px solid #674665;
	border-bottom:4px solid #674665;
	border-right:1px solid #674665;
}
.img-wrapper:hover .enigma_home_portfolio_caption  h3 a,.img-wrapper:hover .enigma_home_portfolio_caption  small{
 color: #ffffff;
}

.enigma_proejct_button a {
	background-color: #f8504b;
	color: #FFFFFF;
	border: 2px solid #674665;
	transition: all 0.4s ease 0s;
}
.enigma_proejct_button a:hover {
	background-color: #ffffff;
	color: #674665;
	border: 2px solid #674665;
	text-decoration:none;
	
}


.enigma_carousel-prev, .enigma_carousel-next {
    background-color: #fff;
	border: 2px solid #674665;
}
.enigma_carousel-prev:hover, .enigma_carousel-next:hover {
    background-color: #674665;
	color:#fff;
}
.enigma_carousel-prev:hover i, .enigma_carousel-next:hover i{
    color:#fff;
}
.enigma_carousel-prev i,
.enigma_carousel-next i {
	color: #674665;
}

/*** project detail ***/
.enigma_portfolio_detail_pagi li a {
	color: #404040;
	border:2px solid #674665;
	text-align:center;
	background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #674665 50%, #ffffff 50%);
   -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
	
}
.enigma_portfolio_detail_pagi li a:hover {
	color: #404040;
	border:2px solid #674665;
	background-position: 0 -100%;
}

.enigma_portfolio_detail_pagi li a span{
	color:#fff;
	line-height:35px;
}
.enigma_portfolio_detail_pagi li a:hover span{
	color:#674665;
}
.enigma-project-detail-sidebar p small {
	color:#777777;
	
}

.enigma-project-detail-sidebar .launch-enigma-project a {

	color: #ffffff;
	border: 2px solid #674665;
	background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #674665 50%, #ffffff 50%);
   -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.enigma-project-detail-sidebar .launch-enigma-project a:hover {
	background-color: #ffffff;
	color: #674665;
	border: 2px solid #674665;
	background-position: 0 -100%;
}

/** gallery css **/

.enigma_gallery_showcase .enigma_gallery_showcase_icons a {
	background-color: #674665;
	border:2px solid #674665;
	color:#fff;
}

.enigma_gallery_showcase .enigma_gallery_showcase_icons a:hover{
	background-color: #ffffff;
	border:2px solid #674665;
	color:#674665;
}


/**************** blog css ********************************************************
********************************************************************************/

/** blog thumbnail css **/
.enigma_blog_thumb_wrapper{
	background:#fff;
	border-bottom: 5px solid #674665;
	box-shadow: 0 0 6px rgba(0,0,0,.7);

}
.enigma_blog_thumb_wrapper h2 a{
	color:#674665;
	transition: all 0.4s ease 0s;
}

.enigma_blog_thumb_wrapper h2:hover a{
	color:#674665;

}
.enigma_blog_thumb_date li i{
	color: #674665;
}
.enigma_tags a{
	background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #edf0f2 50%, #674665 50%);
 }

.enigma_tags a:hover{
	color:#fff;
	background-position: 0 -100%;
}
.enigma_tags a i{
	color:#674665;
}
.enigma_tags a:hover i{
	color:#fff;
}

.enigma_blog_thumb_wrapper span a i{
	color: #674665;
}
.enigma_blog_thumb_wrapper span a {
	color:#555;
	
}.enigma_blog_thumb_footer{
	padding-top:20px;
	padding-bottom:10px;
	border-top:3px solid  #f5f5f5;
}

.enigma_blog_read_btn{
	border: 2px solid #674665;
	background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #674665 50%, #fff 50%);
   }
.enigma_blog_read_btn i {
	margin-right:5px;
}
.enigma_blog_read_btn:hover{
	background-position: 0 -100%;
	color: #674665;
}

.enigma_blog_thumb_wrapper_showcase .enigma_blog_thumb_wrapper_showcase_icons a {
	background-color: #674665;
	color: #fff;
	-webkit-transition: all .25s ease-in;
    -moz-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
    transition: all .25s ease-in;
}
.enigma_blog_thumb_wrapper_showcase .enigma_blog_thumb_wrapper_showcase_icons a:hover{
	background-color: #ffffff;
	border: 2px solid #674665;
	color: #674665;
}
/********* Blog Full width css ********/
.enigma_post_date {
	background: #674665;
	color: #ffffff;
}
.enigma_blog_comment:hover i, .enigma_blog_comment:hover h6{
	color:#674665;
} 
.enigma_fuul_blog_detail_padding h2 a{
	color:#674665;
}
.enigma_fuul_blog_detail_padding h2  a:hover{
	color:#674665;
}
/*** blog sidebar css **/
.enigma_recent_widget_post h3 a {
	color:#674665;
}
.enigma_sidebar_widget {
	border-left: 3px solid #674665;
	border-right: 3px solid #674665;
	border-bottom: 3px solid #674665;
}
.enigma_sidebar_widget_title{
	background:#674665;
}
.enigma_sidebar_link p a:hover {
	color: #674665;
}

.enigma_widget_tags a {
	background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #edf0f2 50%, #674665 50%);
 }
.enigma_widget_tags a:hover {
	border: 1px solid #674665;
	background-position: 0 -100%;
	color: #fff;
}

/** blog detail **/
.enigma_author_detail_wrapper{
	background: #674665;
	padding:15px;
	margin-bottom:40px;
	
}
.enigma_author_detail_wrapper{
	border-left:2px solid #674665;
}
/** blog  form input css **/ 
.reply a {
	color: #674665;
}
.enigma_con_input_control:focus, .enigma_con_textarea_control:focus,
.enigma_contact_input_control:focus, .enigma_contact_textarea_control:focus {
  border-color: #674665;
  -webkit-box-shadow: inset 0 0px 0px ##674665, 0 0 5px #674665;
          box-shadow: inset 0 0px 0px ##674665, 0 0 5px #674665;
}
.enigma_send_button{
	border-color: #674665;
	color: #6a6a6a;
	background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #fff 50%, #674665 50%);
   -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.enigma_send_button:hover {
	background-position: 0 -100%;
    border: 2px solid #674665;
	color: #ffffff;
}



.enigma_blog_pagination {
	background-color: #FFFFFF;	
}
.enigma_blog_pagi a {
	border: 1px solid #dbdbdb !important;
	background-color: #ffffff;
	background-size: 100% 200%;
	background-image: linear-gradient(to bottom, #fff 50%, #674665 50%);
   -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
	color: #777777;
}
.enigma_blog_pagi a:hover, .enigma_blog_pagi a.active {
	background-position: 0 -100%;
	color: #ffffff;
}

/****** Testimonial css *******************************************
****************************************************************/
.enigma_testimonial_area i{
	color:#674665
}
.enigma_testimonial_area img{
	border: 10px solid #674665;
}
.pager a{
	background: #fff;
	border: 2px solid #674665;
}
.pager a.selected{
	background: #674665
	border: 2px solid #674665;
}
/**** Client Css *************************************************
****************************************************************/
.enigma_client_wrapper:hover {
	border: 4px solid #674665

}
.enigma_client_prev, .enigma_client_next {
    background-color: #fff;
	border: 2px solid #674665;
}
.enigma_client_prev:hover, .enigma_client_next:hover {
    background-color: #674665;
	color:#fff;
}
.enigma_client_prev:hover i, .enigma_client_next:hover i{
    color:#fff;
}

.enigma_carousel-prev i,
.enigma_carousel-next i {
	color: #674665;
}
/**** About us page Css *************************************************
****************************************************************/
.enigma_team_showcase .enigma_team_showcase_icons a {
	background-color: #674665;
	border:2px solid #674665;
	color:#fff;
}

.enigma_team_showcase .enigma_team_showcase_icons a:hover{
	background-color: #ffffff;
	border:2px solid #674665;
	color:#674665;
}

.enigma_team_caption:hover{
    background: #674665;
}
.enigma_team_caption:hover  h3 a ,.enigma_team_caption:hover  small{
   color: #ffffff;
}

.enigma_team_wrapper:hover .enigma_team_caption{
 background: #674665;
}
.enigma_team_wrapper:hover .enigma_team_caption  h3 ,.enigma_team_wrapper:hover .enigma_team_caption  small{
 color: #ffffff;
}
/***** Call Out Section *****************************************************************
***************************************************************************************/
.enigma_callout_area {
	background-color: #674665;

}
/***** Footer Area Css *****************************************************************
***************************************************************************************/
.enigma_footer_area{
	background: #674665;
	border-top: 0px solid #6B6B6B;
}
/***** Contact Info Css *****************************************************************
***************************************************************************************/
.enigma_contact_info li .desc {
	color: #674665;
}
/***** Shortcode  Css *****************************************************************
***************************************************************************************/
/*Dropcaps Styles*/
.enigma_dropcape_square span {
	background-color: #674665;
    color: #FFFFFF;
}
.enigma_dropcape_simple span {
    color: #674665;
}
.enigma_dropcape_circle span {
	background-color: #674665;
    color: #FFFFFF;
}
.breadcrumb li a {
color: #674665 !important;
}
/** progress bar or nav button css */
.progress-bar {
	background-color: #674665 !important;
}
.btn-search{
	background:#674665 !important;
}
.nav-pills > li  > a{
	border: 3px solid #674665 !important;
	background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #fff 50%, #674665 50%) !important;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-image: linear-gradient(to bottom, #674665 50%, #674665 50%) !important;
}
.nav-stacked > li  > a
{
	border: 3px solid #674665 !important;
	background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #fff 50%, #674665 50%) !important;
 }
 .nav-stacked > li.active > a, .nav-stacked > li.active > a:hover, .nav-stacked > li.active > a:focus {
	background-image: linear-gradient(to bottom, #674665 50%, #674665 50%) !important;
}

.navbar-toggle {
background-color: #674665 !important;
border: 1px solid #674665 !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus,#btn-to-top,.main-navigation a:hover {
background-color: #674665 !important;
}
.enigma_blockquote_section blockquote {
border-left: 5px solid #674665 ;
}
.enigma_blog_thumb_wrapper .enigma_blog_read_btn:hover,.enigma_blog_thumb_wrapper .enigma_blog_read_btn:focus,
.wp-calendar-nav a{
	color: #674665 !important;
}
.enigma_footer_widget_column ul li a:hover, .enigma_footer_widget_column ul li a:focus,
.carousel-caption .enigma_blog_read_btn:hover,.carousel-caption .enigma_blog_read_btn:focus{
	color: #4c314a !important;
}
.main-navigation ul ul {
    background-color: rgb(103 70 101 / .9)!important;
}