/*
Theme Name: Presto 
Description: Presto is a child theme of most famous WordPress theme Enigma. It is mordern and easy to use. The theme is full of the latest features. Presto is the perfect theme for the professionals, bloggers, and creative personnel’s website, as it provides a clean and flexible appearance, an elegant portfolio, and a catchy online shop. The theme is translation ready, fully SEO optimized, fast loading and is fully compatible with woo commerce and all other major WordPress page builder plugins like Elementor, Visual Composer , SiteOrigin, Beaver Builder, Divi ,Page Builder Sandwich.
Author: weblizar
Author URI: http://www.weblizar.com
Template: enigma
Version: 1.2
Tested up to: 5.5
Requires PHP: 7.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: two-columns, three-columns, custom-menu, right-sidebar, custom-background, featured-image-header, sticky-post, theme-options, threaded-comments, featured-images, flexible-header, translation-ready , blog  , custom-logo , E-Commerce , footer-widgets , portfolio 
Text Domain: presto
*/

body.boxed {
    width: 1170px;
    margin: 0 auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px 0 rgba(48, 48, 48, 0.5);
	    background-color: #a43ca71f;
}
.logo h1{
	color:#fff;
}
.wrapper {
    background: #ffffff;
}
@media (min-width: 1200px){
.boxed #enigma_nav_top.affix {
    width: 1170px;
}
}
.reply a {
    background-color: #141515;
    color: #fff !important;
    padding: 10px 10px 10px 10px;
    font-size: 12px;
}
h4.enigma_comment_detail_title{
 color: #31a3dd !important;	
}

/* product template cc */
.container.product h1 {
    text-align: center;
    padding-bottom: 37px;
}
.col-md-3.about-men-top .gallery img {
	height: 100%;
    width: 100%;
}
.col-md-12.presto-product {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    border: 2px solid #674665;
    box-shadow: 0px 0px 19px #ccc;
}
.col-md-12.presto-product:hover {
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    transition: 0.5s;
}
.col-md-12.presto-product .img-thumbnail {
    border: none;
}
.col-md-12.col-sm-12.about-men-name h3 a {
    color: #ffffff;
}
span.price {
    color: #fff;
    text-align: center;
    display: inherit;
}
.pro_btn a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
    background: #fff;
    color: #674665;
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
}
.container.product {
    padding-top: 50px;
    padding-bottom: 50px;
}
.about-men-name h3 {
	text-align: center;
    margin-top: 4px !important;
}
.col-md-12.pro_btn {
    text-align: center;
}
.presto-product .img-thumbnail {
    padding: 0px;
}
.col-md-3.about-men-top {
    margin-bottom: 23px;
}
.top_search .btn-search {
    background: #674665 !important;
    border: 1px solid #fff !important;
}
.about-men-name {
	background: #674665;
    padding-bottom: 17px;
}
#wp-calendar caption {
	color: #fff;
    background: #674665;
}
.enigma_sidebar_widget .btn-search {
    background: #674665;
}
a.added_to_cart.wc-forward {
    padding: 8px;
    background: #fff;
    font-size: 14px;
    font-weight: bold;
    color: #674665;
}

/* welcome page */
ody {
  color: #919191;
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.785;
}
a,
a:hover,
a:focus{
outline:none;
text-decoration:none;
}

.p_header{
background-color:#0098ff;
color:#fff;
padding:50px 0;
}
.p_header h1{
margin:0;
}
.p_header .navbar-form{
margin:0;
}
.p_front{
background:#ddd;
padding:50px 0;
}
.p_front .container{
background:#fff;
}
.p_head{
margin:0;
}
.p_front .p_form {
  float: right;
  display: inline-flex;
  margin-top: 20px;
}
.p_front .p_form label {
margin-right:20px;
}
.p_front .p_form  .form-control {
  min-width: 160px;
}
.p-select {
  display: inline-block;
  position: relative;
}
select.form-control {
  box-shadow: none;
  color: rgba(145, 145, 145, 0.7);
  line-height: 1.5;
}
select {
  -moz-appearance: none;
  display: inline-block;
  font: inherit;
  outline: medium none;
  position: relative;
}
.p-select::after {
  border-color: #919191 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: "";
  height: 8px;
  line-height: 0;
  margin-top: -2px;
  position: absolute;
  right: 11px;
  top: 50%;
  width: 8px;
  z-index: 1;
}
.p_plugin {
  border: 1px solid #ccc;
  margin:40px 0;
  padding: 20px 10px ;
}
.p_plugin_pic .img-thumbnail{
padding:0;
border:0;
display:block;
position:relative
}
.p-box{
margin:0;
}
.p-box h2 a{
text-decoration:none;
color:#666;
}
.p_rateing{
list-style:none;
padding:0;
margin:0;
}
.p_rateing li{
display:inline-block;
}
.price {
  line-height: 1;
  margin: 0 0 30px;
  text-align: center;
}
.currency {
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  text-transform: uppercase;
  vertical-align: middle;
}
.price-number {
  color: #5b5b5b;
  display: inline-block;
  font-size: 43px;
  vertical-align: middle;
}
.btn-group-vertical .btn-lg {
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 15px;
  padding-left: 45px;
  padding-right: 45px;
}
.p_plugin_desc p{
margin:10px 0;
color:#777;
}
.star-rating a {
    color: #ffd700;
	font-size:18px;
}
.menu,
.spa-menu-head{
margin:0;
}

.p_plugin_pic .img-thumbnail .overlay {
background-color: rgba(255,255,255,0.90);
border: 15px solid rgba(0,0,0,0.30);
height: 100%;
opacity: 0;
visibility:hidden;
position: absolute;
text-align: center;
top: 0;
width: 100%;
color: #fff;
}
.p_plugin_pic:hover .overlay {
opacity: 0.75;
visibility:visible;
transition:all ease 0.6s;
}
.p_plugin_pic .overlay a{
color:#fff;
text-decoration:none;
}
.p_plugin_pic .overlay i {
border-radius: 50%;
font-size: 20px;
height: 40px;
padding: 8px 0;
width:40px;
border:1px solid #666;
color:#666;
margin-top:30%;
}
.p-box h2{
margin:0;
}
.p-box p strong {
    font-size: 16px !important;
}
.p-box ul li {
    margin-bottom: 2px !important;
}
@media (max-width:768px){
.p-box h2{
font-size:24px;
}
.p-select::after {
    margin-top: -5px;
    right: 5px;
}
.navbar-right {
    float: left !important;
    margin-top: 20px !important;
}
}
@media (max-width:767px){
.menu .dropdown-menu {
position:relative !important;
left:0 !important;
width:100%;
}
}
@media (max-width:480px){
.btn-group-vertical .btn-lg {
    display: inline-block;
    width: auto;
    margin: 0px 2px;
    padding: 5px 15px;
    border-radius: 0 !important;
}
.price {
    margin: 0px 0px 10px;
    text-align: left;
	display:inline-block;	
}
.p-box h2 {
    font-size: 20px;
}
.section-title{
font-size:30px;
}
.p_front .p_form {
    float: left;
}
.price-number {
    font-size: 30px;
}
.p_plugin_desc p {
    font-size: 14px;
}
.p_head h1{
font-size:24px;
}
.input-lg {
    height: 35px;
    padding: 5px 10px;
    float: left;
	width:64%;
	display:inline-block;
}
.navbar-right {
    float: none !important;
}
.navbar-form .form-group {
    margin-bottom: 0px;
}
.btn-lg {
padding: 5px 15px;
}
}
li:hover {
    cursor: pointer;
}
#theme {
    padding: 0 10px;
	font-size:20px;
}
#plugin {
	font-size:20px;
}
.menu {
	padding-top: 0 !important;
}
.theme-menu.active a {
  background-color: #0098ff !important;
  color: #fff !important;
}

img.web_logo {
    width: 13%;
}
.seting-page h2 {
    text-align: left;
	margin: 0 0 10px 0;
}
.update_pro {
    border: 1px dashed #ccc;
    padding: 26px 50px 76px;
}
a.demo {
    background: #5C4B51;
    padding: 12px;
    width: 100%;
    color: #fff;
}
span.elw_shortcode_heading {
    color: #32373c;
}
.seting-page {
	border: 1px solid #ccc;
    background-color: #cccccc3d;
}
.col-md-12.settings {
    margin-top: 20px;
}
.update_pro h3 {
    color: #32373c;
}
.p_head h1 {
    margin: 0;
    font-size: 30px;
}
.col-xs-12.col-sm-4.col-md-5.p_plugin_pic h2 {
	font-size: 28px;
    color: #32373c;
}
.row.p_plugin.blog_gallery.visit_pro {
    background: #5c4b51;
}
.row.p_plugin.blog_gallery.visit_pro {
    text-align: center;
    font-size: 17px;
}
.visit_pro p {
    font-size: 24px !important;
    color: #ffffff;
    padding-bottom: 12px;
}
.visit_pro a {
	padding: 10px;
    border: 1px solid #5C4B51;
    background: #ffffff;
    color: #5C4B51 !important;
    font-weight: 700;
}
a.btn.btn-primary.btn-lg {
    background: #7cb557;
    border: none;
    border-radius: 0%;
    border-radius: none;
}
.price1 {
    margin: 27px 0 6px;
}
.row.p-box h2 {
    font-size: 30px;
    color: #32373c;
}
a.btn.btn-primary.title_offers {
    background-color: #5C4B51;
    border: 1px solid #5C4B51;
    font-size: 18px;
    border-radius: 0%;
	color: #fff;
}
.p_plugin {
	background: #fff;
    box-shadow: 0px 0px 24px #ccc !important;
    border: none !important;
}
ul.nav.nav-tabs.product-tbs a {
    color: #32373c;
    font-size: 18px;
}
a.pro {
    padding: 4px;
    background: #5C4B51;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}
.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
}

.price {
    list-style-type: none;
    border: none;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, .woocommerce form .form-row select {
    padding: 10px;
}
.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}
a.button.pro_btn {
    color: #fff;
    font-size: 17px;
    background: #111 !important;
}
ul.price .fa-check {
    color: green;
    font-size: 20px;
}
ul.price .fa-close {
    color: red;
    font-size: 20px;
}
ul.price li {
    font-size: 20px;
}
a.pro_btn {
    padding: 10px !important;
    background: #000;
    color: #fff;
	font-size: 17px;
}
li.header {
    margin-bottom: 0;
}

.img-thumbnail.pro_theme {
    border: 1px solid #ccc !important;
}
h4.pro_thm {
    text-align: center;
}

h4.pro_thm a {
    color: #353535;
}
.img-thumbnail.pro_theme {
    padding: 10px;
}

.pro_theme img{
	height: 217px;
    width: 100%;
}
.visit_pro a:hover {
    background: #5C4B51;
    color: #fff !important;
    border: 1px solid #fff;
}
.img-thumbnail.pro_theme:hover {
    box-shadow: 0px 0px 50px #ccc;
}
a.add_page {
    padding: 8px;
    background-color: #5C4B51;
    color: #fff;
    margin-left: 29px;
}
.seting-page h2 {
    font-size: 36px;
}

/*hire-page*/
.row{
	margin:0!important;
}
h3.high-title {
    font-size: 24px;
	    color: #000;
    font-weight: 600;
    border-bottom: 1px solid #000;
    display: inline-block;
}
.col-md-12.hire-block {
	text-align:center;
	    padding:30px 0 30px 0;
		background-color:rgba(204, 204, 204, 0.23);
   border:1px solid #ccc;
}
.col-md-12.hire-block:hover {
  box-shadow:0px 0px 17px #ccc;
  transition:all ease 0.6s;
}
.hire-block a {
    background-color: #38aafa;
    padding: 10px 25px;
    color: #fff;
}
.hire-block h2 {
    color: #38aafa;
	    margin:40px 10px 20px 10px;
    font-size: 22px;
	    font-weight: 700;
}
.support-data li:hover {
    padding-left: 10px;
    transition: all ease 0.6s;
}
.support-data li {
    transition: all ease 0.6s;
}
.col-md-12.hire-block p {
    margin-bottom: 60px;
	    font-size: 18px;
}
.col-md-12.blocks {
    margin-top: 30px;
}
.support-data i.fa.fa-star.theme-icon {
    color: #ffc94a;
}
.support-data {
    padding-left: 15px;
}
.hire-block>span {
    position: absolute;
    z-index: 999;
    top: 0;
	    left: 0px;
    padding:0 16px 0 0px;
    min-width:100%;
    right: -15px;
    background: linear-gradient(83deg,#000000e0 7%,#38aafa 69%);
    color: #fff;
    text-align: center;
    line-height: 40px;
    display: block;
}
.hire-block>span:after {
    content: "";
    height: 0;
    width: 0;
    display: block;
    position: absolute;
    bottom: -15px;
    right: 0;
    border-top: 15px solid #595959;
    border-right: 15px solid transparent;
}
.notice.notice-success{
    background-color: #232121eb;
    color: #fff;
    position: relative;
}

p.notice-text {
    font-size: 15px;
    float: left;
    padding: 10px 20px;
}
a.dismiss {
    color: #fff;
    position: absolute;
    text-align: right;
    font-size: 24px;
    right: 10px;
    top: 10px;
    z-index: 999;
}
@media(min-width:1200px){
.top_search .input-group {
    float: right;
    margin-right: 11%;
}
.product h1 {
    padding-bottom: 34px;
}
}

@media(max-width:480px){
.carousel-text h1 {
    font-size: 12px !important;
}
.carousel-list li {
    font-size: 9px !important;
    padding: 0px !important;
}
.carousel-caption {
    top: 4% !important;
}
.carousel-text .enigma_blog_read_btn {
    font-size: 12px !important;
	padding: 0px !important;
}
}
.title.nof{
    color: #fff;
}
@media (min-width: 768px){
.dropdown-submenu:hover>.dropdown-menu, .dropdown:hover>.dropdown-menu, .dropdown-submenu a:focus + .dropdown-menu, .dropdown a:focus + .dropdown-menu {
    display: block!important;
    position: absolute;
}}